@import "_variables.scss";
@import "_mixins.scss";

.works {
  background-color: $colorWhite;

  &__box {
    padding-top: 41px;
    padding-bottom: 68px;
    display: grid;
    grid-template-rows: repeat(2, 47.5%);
    grid-template-columns: repeat(4, minmax(23%, 1fr));
    gap: 30px;
    grid-template-areas:
      'work1 work1 work2 work2'
      'work1 work1 work3 work4';
  }

  &__elem {
    line-height: 0;

    &-img {
      width: 100%;
      height: auto;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 18px;
    font-family: TT Firs Neue;
    color: $colorBlack;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 104%;
  }


  &__elem1 {
    grid-area: work1;
    position: relative;

    &-img {
      height: 100%;
    }

    &-box {
      position: absolute;
      bottom: 9.6%;
      left: 9.6%;
      right: 9.6%;
    }

    &-title {
      margin: 0;
      margin-bottom: 3px;
      color: $colorWhite;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &-text {
      margin: 0;
      margin-bottom: 19px;
      max-width: 75%;
      color: $colorWhite;
      font-family: TT Firs Neue;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 104%;
    }

    &-link {
      display: inline-block;
      width: max-content;
      color: $colorWhite;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @include btnReset;
      padding: 13px 20px;
      background-color: #FF6E30;
      border: 3px solid #FF6E30;
      transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

      &:hover:not(:focus-visible) {
        background-color: #BC572B;
        border-color: #BC572B;
      }

      &:focus-visible {
        outline: none;
        border-color: #CE4307;
      }

      &:active:not(:focus-visible) {
        background-color: #CE4307;
        border-color: #CE4307;
      }
    }

    &-hashtag {
      @include styleHashtag;
      top: 15px;
      right: 15px;
    }
  }

  &__elem2 {
    grid-area: work2;

    &-img {
      height: auto;
    }
  }

  &__elem3 {
    align-self: end;
    grid-area: work3;
  }

  &__elem4 {
    align-self: end;
    grid-area: work4;
  }
}

@media (max-width:1025px) {
  .works {
    &__box {
      padding-top: 34px;
      grid-template-columns: repeat(4, minmax(22%, 1fr));
    }

    &__elem1-box {
      bottom: 4.8%;
      left: 6.5%;
    }

    &__elem1-text {
      margin-bottom: 22px;
      max-width: 93%;
      font-size: 34px;
      line-height: 100%;
    }

    &__elem1-hashtag {
      top: 22px;
      right: 30px;
    }

    &__title {
      margin-bottom: 24px;
    }
  }
}

@media (max-width:820px) {
  .works {

    &__box {
      grid-template-columns: repeat(4, minmax(20%, 1fr));
      grid-template-rows: repeat(2, 46.5%);
    }

    &__title {
      margin-bottom: 17px;
      font-size: 22px;
    }

    &__elem1 {
      &-title {
        margin-bottom: 14px;
      }

      &-text {
        max-width: 80%;
        line-height: 90%;
      }

      &-hashtag {
        top: 15px;
        right: 15px;
      }
    }
  }
}

@media (max-width: 576px) {
  .works {
    &__box {
      grid-template-columns: repeat(2, minmax(20%, 1fr));
      grid-template-rows: auto;
      grid-template-areas:
        "work1 work1"
        "work2 work2"
        "work3 work4";
      padding-top: 30px;
      padding-bottom: 50px;
    }

    &__elem1-title {
      font-size: 14px;
    }

    &__title {
      font-size: 18px;
    }

    &__elem1 {
      &-text {
        font-size: 24px;
        line-height: 110%;
      }

      &-link {
        font-size: 14px;
      }

      &-btn {
        padding-top: 8px;
        padding-bottom: 8px;
      }

      &-hashtag {
        font-size: 12px;
        top: 6px;
        right: 5px;
      }
    }
  }
}